{% extends 'staff_template/base_template.html' %} 
{% block page_title %}
Take Attendance
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Take Ateendance</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                  <div class="form-group">
                  
                    <label>Subject</label>
                    <select class="form-control" name="subject" id="subject">
                        {% for subject in subjects %}
                          <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
        
                   <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->
                 <div class="card-footer">
                  <button type="Button" class="btn btn-primary btn-block">fetch student</button>
                </div>
                <div id="student_data">
                    
                    
                <div>

                
              </form>
            </div>
            <!-- /.card -->

      
</div>
    </section>
    <!-- /.content -->
{% block custom_is %}
<script>
$(document).ready(function(){
    $("#fetch_student").click(function(){
   var subject=$("#subject").val()
    $.ajax({
        url:'{% url 'get_students' %}',
        type:'POST'
        date:{subject:subject},
        })
   .done(function(response){
       var.json_data=JSON.parse(response);
       console.log(json_dat)
       var div_data="";
       for(key in json_data){
                div_date="<input type='checkbox' checked='checked' name='student_data[] class='form-control' value='"+json_data[key]['id']+"'>"+json_data[key]['name']+" , ";
           }
       $("#student_data").html(div_data);
       })
   .fail(function(){
       alert("Error for fetching student")
       })
       })
    })
</script>
{% endblock custom_is %}
{% endblock main_content %}
