{% extends 'student_template/base_template.html' %}
{% block page_title %}
Feedback Message
{% endblock page_title %}
{% block main_content %}
<style type="text/css">
  table {border:ridge 5px rgb(48, 14, 14) ;}
  td    {border:inset 1px rgb(71, 138, 118); }
</style>
<style>
  input[type=text], select {
    display: inline-block; 
    box-sizing: border-box;
    background-color: #ffffff;
     color: rgb(26, 23, 23);
     border:ridge 3px rgb(48, 14, 14);
  }
  input[type=email], select {
    display: inline-block; 
    box-sizing: border-box;
    background-color: #ffffff;
     color: rgb(26, 23, 23);
     border:ridge 3px rgb(48, 14, 14);
  }
  input[type=pASSWORD], select {
    display: inline-block; 
    box-sizing: border-box;
    background-color: #ffffff;
     color: rgb(26, 23, 23);
     border:ridge 3px rgb(48, 14, 14);
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
    
  </style>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
                    <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-purple">
              
              <!-- /.card-header -->
              <!-- form start -->
               <form action="{% url 'student_feedback_save' %}" method="post">
                <div class="card-body">

                    {% csrf_token %}
                  <div class="form-group">
                    <label>Feedback Message</label>
                    <textarea class="form-control" rows="6" name="feedback_msg" style="border:ridge 3px rgb(48, 14, 14);"></textarea>
                  </div>
                   <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block" id="fetch_student" style="background-color:rgb(88, 56, 56) ;">Leave a Feedback Message</button>
                </div>
               </form>
            </div>

            <!-- /.card -->
           <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">Feedback History</h3>
              </div>

               <div class="table">
               <table class="table">
                   <tr>
                       <th>ID</th>
                       <th>Feedback Message</th>
                       <th>Feedback Reply</th>
                   </tr>
                   {% for row in feedback_data %}
                        <tr>
                            <td>{{ row.id }}</td>
                            <td>{{ row.feedback }}</td>
                            <td>{{ row.feedback_reply }}</td>
                        </tr>
                   {% endfor %}
               </table>
               </div>
            </div>



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

